html {
    background-color: #000;
}

body {
    background-color: #000;
    background: url('../images/background.jpg') no-repeat fixed 100% 100%;
    background-size: cover;
}

.top-level-container {
    padding-top: 2.5vh;
}

.disclaimer-footer {
    font-size: 1.2vh;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

.better-ranks {
    border: 5px solid white;
    border-radius: 5px
}

.better-ranks-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1001;
    pointer-events: none;
}

.my-rank {
    border: 5px solid #2BAFFA;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px
}

.star-content {
    display: flex;
    color: #2BAFFA;
    font-size: 6vh;
}

.star {
    flex-grow: 1;
}

.worse-ranks {
    border: 5px solid white;
    border-radius: 5px
}

.row {
    height: 10vh;
    background-color: #000;
}

.row-content {
    top: 50%;
    transform: translateY(-50%);
}

.row-image {
    height: 80%;
}

.row-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #DDD;
    font-size: 1.5em;
    font-family: Lato, sans-serif;
    font-weight
}

.row-name {
    font-size: 1.275em;
}

.row-rank {
    font-size: 0.8em;
}

.green {
    color: green;
}
